/* Always set the map height explicitly to define the size of the div element that contains the map. */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

#map {
    width: 100%;
    height: 100%;
}

#hud > * {
    box-shadow: 10px 10px 70px -10px rgba(0, 0, 0, 0.3);
}

#hud #map-filters {
    position: absolute;
    left: 0;
    top: 420px;
    z-index: 100;
    background: white;
    padding: 20px 0;
    border-radius: 0 10px 10px 0;
}

#hud #map-filters ul {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
}

#hud #map-filters ul li {
    padding: 0 50px 0 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#hud #map-filters ul li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

#hud #map-filters label {
    cursor: pointer;
}

#hud #map-address {
    position: absolute;
    left: 4%;
    right: 4%;
    top:133%;
    
    z-index: 100;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

#hud #map-directions {
    position: absolute;
    right: -300px;
    top: 50%;
    width: 300px;
    height: 80%;
    z-index: 100;
    background: white;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    transition: right 0.4s ease-in-out;
}
@media only screen and (max-width: 768px) {
    #hud #map-directions {
        top: 70%;
    }
    
}

body.directions-open #hud #map-directions {
    right: 0;
}

#hud #map-directions #directions-close-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.header {
    height: 5%;
}

.content {
    /*adding scroll*/
    height: 90%;
    overflow-y: scroll;
}

.actions {
    height: 5%;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e4eefa;
}

#loading-warning{
    display:none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wrapper{
    
position: fixed;
top: 40px;
left: 50%;
transform: translate(-50%,-50%);
}



.wrapper .search_box{
width: 700px;
background: #fff;
border-radius: 5px;
height: 65px;
display: flex;
padding: 10px;
box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown{
width: 150px;
border-right: 2px solid #dde2f1;
color: #9fa3b1;
position: relative;
cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
text-transform: uppercase;
padding: 13px 15px;
font-size: 14px;
}

.wrapper .search_box .dropdown ul{
position: absolute;
top: 70px;
left: -10px;
background: #fff;
width: 150px;
border-radius: 5px;
padding: 20px;
display: none;
box-shadow: 8px 8px 6px -10px #b3c6ff;
}


.wrapper .search_box .dropdown ul.active{
display: block;
}

.wrapper .search_box .dropdown ul li{
padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child{
padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover{
color: #6f768d;
}

.wrapper .search_box .dropdown:before{
content: "";
position: absolute;
top: 18px;
right: 20px;
border: 8px solid;
border-color: #5078ef transparent transparent transparent;
}

.wrapper .search_box .search_field{
width: 350px;
height: 100%;
position: relative;
}

.wrapper .search_box .search_field .input{
width: 100%;
height: 100%;
border: 0px;
font-size: 16px;
padding-left: 20px;
padding-right: 38px;
color: #6f768d;
}

.wrapper .search_box .search_field .fas{
position: absolute;
top: 10px;
left:140%;
font-size: 22px;
color: #5078ef;
cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .wrapper .search_box .search_field .fas{
    right:15px;
    
    
    }
    .wrapper .search_box{
      width: 430px;
      
    }
    .wrapper{
      margin-left:220px;
      left:0;
    }
    .wrapper .search_box .search_field input{
    	width:230px;
    }
    #search-bar-button{
      display: none;
    }
  
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
color: #9fa3b1;
}

/*paged table*/



.pagination li:hover{
    cursor: pointer;
}

.ribbon4 {
    
    display: inline-block;
    position: relative;
    height: 60px;/*高さ*/
    line-height: 60px;/*高さ*/
    text-align: center;
    padding: 0 40px 0 18px;/*文字の左右の余白*/
    font-size: 35px;/*文字サイズ*/
    background: #ffc668;/*背景色*/
    color: #FFF;/*文字色*/
    box-sizing: border-box;
  }
  
  .ribbon4:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
  }
  
  .ribbon4:after {
    top: 0;
    right: 0;
    border-width: 30px 15px 30px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
  }
  .ribbon1 {
    display: inline-block;
    position: relative;
    height: 60px;/*高さ*/
    line-height: 60px;/*高さ*/
    text-align: right;
    padding: 0 40px 0 18px;/*文字の左右の余白*/
    font-size: 35px;/*文字サイズ*/
    background: #f57a78;/*塗りつぶし色*/
    color: #FFF;/*文字色*/
    box-sizing: border-box;
  }
  
  .ribbon1:before, .ribbon1:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
  }
  
  .ribbon1:before {
    top: 0;
    left: 0;
    border-width: 30px 0px 30px 15px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
  }

/*Add review button*/

.button-group {
    margin-bottom: 20px;
  }
  .counter {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
  }
  .posts {
    clear: both;
    list-style: none;
    padding-left: 0;
    width: 100%;
    text-align: left;
  }
  .posts li {
    background-color: #fff;
    border: 1.5px solid #d8d8d8;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    min-height: 42px;
    box-shadow:8px 8px 5px #888888;
  }
  .btn-primary {
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;
  }

/*review box*/
.centering {
	
	background: #F5F5F5;
	
	
	
	
}

.partial-border {
	
	flex: 0 0;
	width: 30%;
	background: lightgray;
	padding: 25px;
    
	
	
	background:
	
		linear-gradient(black, black) bottom left / 150px 2px,
		linear-gradient(black, black) bottom left / 2px 100px,
		linear-gradient(black, black) top right / 150px 2px,
		linear-gradient(black, black) top right / 2px 100px;
	background-repeat: no-repeat;
}

/* Header*/
body {
    font-family: Lato, sans-serif;
  }
  
  footer {
    width:100vw;
    
    bottom:0px
  }
  footer div {
    background-color:#4478e3;
    margin: -5px 0px 0px 0px;
    padding:0px;
    color: #fff;
    text-align:center;
  }
  svg {
    width:100%;
  }
  .arrow {
    stroke-width: .3px;
    stroke:yellow;
  }
  .topball {
    animation: ball 1.5s ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-delay: 0.3s;
    cursor:pointer;
  }
  
  .wave {
    animation: wave 3s linear;
    animation-iteration-count:infinite;
    fill: #4478e3;
  }
  .drop {
    fill: transparent;
    animation: drop 5s ease infinite normal;
    stroke: #4478e3;
    stroke-width:0.5;
    opacity:.6; 
    transform: translateY(80%);
  }
  .drop1 {
    transform-origin: 20px 3px;
  }
  .drop2 {
    animation-delay: 3s;
    animation-duration:3s;
    transform-origin: 25px 3px;
  }
  .drop3 {
    animation-delay: -2s;
    animation-duration:3.4s;
    transform-origin: 16px 3px;
  }
  .gooeff {
        filter: url(#goo);
  }
  #wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
  }
  #wave3 {
    animation-duration: 7s;
    opacity:.3;
  }
  @keyframes drop {
    0% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    80% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    90% { 
      transform: translateY(10%) ; 
      opacity:.6; 
    }
    100% { 
      transform: translateY(0%) scale(1.5);  
      stroke-width:0.2;
      opacity:0; 
    }
  }
  @keyframes wave {
    to {transform: translateX(-100%);}
  }
  @keyframes ball {
    to {transform: translateY(20%);}
  }

@media only screen and (max-width: 768px) {
    #map-filters{display:none}
    #map-address{display:none} 
    h1{font-size: 50px;}   
}

/*Header */
/*To copy and paste, try to keep cloud height:width ratio around 1:2+
 c1l = Cloud 1 left
 c1r = Cloud 1 right
 c1b = Cloud 1 bottom
*/
body {
    background-color: #87ceeb;
  }
  
  .wrapper-cloud {
    width: 50%;
    margin-top: -50px;
    height:200px;
  }
  
  .cloud1 {
    float: right;
    height: 100px;
    margin: 40px;
    position: relative;
    width: 230px;
    animation: float2 150s linear alternate infinite;
  }
  .cloud1 .c1b {
    background-color: #fff;
    border-radius: 100px;
    height: 75%;
    position: absolute;
    top: 50%;
    width: 87.5%;
    z-index: 0;
    opacity: 0.3;
  }
  .cloud1 .c1r {
    background-color: #fff;
    border-color: #fff;
    border-radius: 100% 100% 0% 0%;
    height: 30%;
    left: 35%;
    position: absolute;
    top: 20%;
    width: 37.5%;
    z-index: -1;
    opacity: 0.3;
  }
  .cloud1 .c1l {
    background-color: #fff;
    border-color: #fff;
    border-radius: 100% 100% 0% 0%;
    height: 15%;
    left: 17.5%;
    position: absolute;
    top: 35%;
    width: 17.5%;
    z-index: -1;
    opacity: 0.3;
  }
  
  .cloud2 {
    height: 100px;
    margin: 40px;
    position: relative;
    width: 250px;
    animation: float2 150s linear alternate infinite;
  }
  .cloud2 .c2b {
    background-color: #fff;
    border-radius: 100px;
    height: 75%;
    position: absolute;
    top: 50%;
    width: 87.5%;
    z-index: 0;
    opacity: 0.3;
  }
  .cloud2 .c2r {
    background-color: #fff;
    border-color: #fff;
    border-radius: 100% 100% 0% 0%;
    height: 30%;
    left: 35%;
    position: absolute;
    top: 20%;
    width: 37.5%;
    z-index: -1;
    opacity: 0.3;
  }
  .cloud2 .c2l {
    background-color: #fff;
    border-color: #fff;
    border-radius: 100% 100% 0% 0%;
    height: 15%;
    left: 17.5%;
    position: absolute;
    top: 35%;
    width: 17.5%;
    z-index: -1;
    opacity: 0.3;
  }
  
  .cloud3 {
    height: 250px;
    margin: 40px;
    position: relative;
    width: 525px;
    animation: float2 150s linear alternate infinite;
  }
  .cloud3 .c3b {
    background-color: #fff;
    border-radius: 100px;
    height: 75%;
    position: absolute;
    top: 50%;
    width: 87.5%;
    z-index: 0;
    opacity: 0.3;
  }
  .cloud3 .c3r {
    background-color: #fff;
    border-color: #fff;
    border-radius: 100% 100% 0% 0%;
    height: 30%;
    left: 35%;
    position: absolute;
    top: 20%;
    width: 37.5%;
    z-index: -1;
    opacity: 0.3;
  }
  .cloud3 .c3l {
    background-color: #fff;
    border-color: #fff;
    border-radius: 100% 100% 0% 0%;
    height: 15%;
    left: 17.5%;
    position: absolute;
    top: 35%;
    width: 17.5%;
    z-index: -1;
    opacity: 0.3;
  }
  
  @keyframes float2 {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .strike {
    overflow: hidden;
    text-align: center;
    position: relative;
  }
  
  .strike__inner {
    display: inline-block;
    position: relative;
  }
  .strike__inner:before, .strike__inner:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: currentColor;
    top: 50%;
    width: 9999px;
    opacity: 0.15;
  }
  .strike__inner:after {
    right: 100%;
    margin-right: 25px;
  }
  .strike__inner:before {
    left: 100%;
    margin-left: 25px;
  }
  #main-heading{
    font-size:80px;
  }
  @media only screen and (max-width: 768px) {
  	#map-directions{
  		display:block;

  	}
     #main-heading{
  	  font-size:40px;
  	}
    #map{
  	  height:60%;
  	}
  }