/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
    width: 100%;
    height: 100%;
}

#hud > * {
    box-shadow: 10px 10px 70px -10px rgba(0, 0, 0, 0.3);
}

#hud #map-filters {
    position: absolute;
    left: 0;
    top: 4%;
    z-index: 100;
    background: white;
    padding: 20px 0;
    border-radius: 0 10px 10px 0;
}

#hud #map-filters ul {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
}

#hud #map-filters ul li {
    padding: 0 50px 0 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#hud #map-filters ul li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

#hud #map-filters label {
    cursor: pointer;
}

#hud #map-address {
    position: absolute;
    left: 4%;
    right: 4%;
    bottom: 4%;
    z-index: 100;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

#hud #map-directions {
    position: absolute;
    right: -300px;
    top: 4%;
    width: 300px;
    height: 80%;
    z-index: 100;
    background: white;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    transition: right 0.4s ease-in-out;
}

body.directions-open #hud #map-directions {
    right: 0;
}

#hud #map-directions #directions-close-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.header {
    height: 5%;
}

.content {
    /*adding scroll*/
    height: 90%;
    overflow-y: scroll;
}

.actions {
    height: 5%;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e4eefa;
}

.wrapper{
position: absolute;
top: 5%;
left: 50%;
transform: translate(-50%,-50%);
}

.wrapper .search_box{
width: 500px;
background: #fff;
border-radius: 5px;
height: 65px;
display: flex;
padding: 10px;
box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown{
width: 150px;
border-right: 2px solid #dde2f1;
color: #9fa3b1;
position: relative;
cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
text-transform: uppercase;
padding: 13px 15px;
font-size: 14px;
}

.wrapper .search_box .dropdown ul{
position: absolute;
top: 70px;
left: -10px;
background: #fff;
width: 150px;
border-radius: 5px;
padding: 20px;
display: none;
box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown ul.active{
display: block;
}

.wrapper .search_box .dropdown ul li{
padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child{
padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover{
color: #6f768d;
}

.wrapper .search_box .dropdown:before{
content: "";
position: absolute;
top: 18px;
right: 20px;
border: 8px solid;
border-color: #5078ef transparent transparent transparent;
}

.wrapper .search_box .search_field{
width: 350px;
height: 100%;
position: relative;
}

.wrapper .search_box .search_field .input{
width: 100%;
height: 100%;
border: 0px;
font-size: 16px;
padding-left: 20px;
padding-right: 38px;
color: #6f768d;
}

.wrapper .search_box .search_field .fas{
position: absolute;
top: 10px;
right: 10px;
font-size: 22px;
color: #5078ef;
cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
color: #9fa3b1;
}